.fb-icon {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 44px;
    height: 44px;
    background: #1877f2;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
    
    animation: fbPulse 2s infinite;
}

@keyframes fbPulse {
    0% {
        box-shadow: 0 0 0 0 rgba(24, 119, 242, 0.6);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(24, 119, 242, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(24, 119, 242, 0);
    }
}

.fb-icon:hover {
    background: #166fe5;
    
    animation-play-state: paused;
}

.fb-icon svg {
    width: 30px;
    height: 30px;
    fill: white;
}

.fb-widget {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    background: white;
    z-index: 10001;
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
}

.fb-widget.active {
    left: 0;
}

.fb-header {
    position: relative;
    padding: 20px;
    background: dodgerblue;
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.fb-header h3 {
    margin: 0;
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.fb-close {
    display: none;
    background: #1877f2;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 22px;
    transition: background 0.2s ease, transform 0.15s ease;
}

.fb-close:hover {
    background: #166fe5;
}

.fb-close:active {
    transform: scale(0.95);
}


.fb-content {
    flex: 1;
    overflow: auto;
    background: white;
}

.fb-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--over-lay);
    backdrop-filter: blur(2px);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.fb-overlay.active {
    opacity: 1;
    visibility: visible;
}

body.fb-widget-open {
    overflow: hidden;
}


@media (max-width: 526px) {
    .fb-close {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}